.navbar.navbar-fixed-bottom {
  .remove {
    margin-left: 5px;
    float: left;
  }
  .pick {
    width: 300px;
    margin: 0 auto;
    line-height: 36px;
    text-align: center;
  }
  .add {
    margin-right: 5px;
    float: right;
  }
}
.tags {
  padding:0 7px;
}