@import "bootstrap";
@import "bootstrap-responsive";
@import "compass";

@import "topbar";
@import "subbar";
@import "fotos";
@import "tag";
@import "btn";
@import "pull";
@import "foot";

body {
  padding-left: 20px;
  padding-right: 20px;
}

.top_fix {
  padding-top: 60px;
}

.input-append {
  margin: 0 12px;
  .btn {
    margin-left: -5px;
  }
}