.list {
  .foto_cell {
    z-index: -10;
    float: left;
    margin: 0 4px 4px 0;
    label {
      margin-bottom: 0;
    }
    .img {
      width: 105px;
      height: 105px;
      overflow: hidden;
    }
    .icons {
        position: absolute;
      .tagged {
        position: relative;
        z-index: 1;
        left: 90px;
        top: -108px;
      }
      .zoomin {
        position: relative;
        z-index: 1;
        width: 17px;
        left: 4px;
        top: -118px;
        background: white;
        opacity: 0.8;
        @include border-radius(10px);
        box-shadow: 2px 4px 3px rgba(20%,20%,40%,0.5);
      }
      .add {
        position: relative;
        z-index: 1;
        left: 88px;
        top: -22px;
      }
    }
  }
}