.topbar.navbar.navbar-fixed-top
  .navbar-inner
    .pull-left
      = link_to "上一頁", user_fotos_path(current_user), :class => "btn-back"
    .pull-center
      - if @foto.datetime
        %span
          = "拍照時間:"
          = @foto.datetime
    .clearfix