.navbar.navbar-fixed-bottom
  .navbar-inner
    .pull-left
      = link_to user_fotos_path(@foto.user), :class => "btn-back" do
        %i.icon-chevron-left.icon-white
        ="回列表"
    .pull-right
      %button.btn-prev
        %i.icon-arrow-left.icon-white
      %button.btn-next
        %i.icon-arrow-right.icon-white
    .clearfix