.topbar.navbar.navbar-fixed-top
  .navbar-inner
    .pull-left
      %button.btn-back{:data => {:toggle => :modal}}
        ="上一頁"
    .pull-center
      %span
        美食
      %span
        15
      ╱
      %span
        70
    .clearfix