.topbar.navbar.navbar-fixed-top
  .navbar-inner
    %button.btn-remove.pull-left{:data => {:toggle => :modal}, :href => "#removeModal"}
      ="移除"
    .pull-center
      %span
        美食
      %span
        15
      ╱
      %span
        70
    .clearfix